<!DOCTYPE html>
<html lang="en" ng-app="transformer">
  <head>
    <title>Excel to MODs Transformer Service</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold,italic,bolditalic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!--<script src="/js/ajax.js"></script>-->
    <script src="/js/angular.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/angular-resource.min.js"></script>
    <script src="/js/app.js"></script>
  </head>
  
  <body ng-controller="MainController as main">
  
    <div class="container-fluid">
      <div class="col-md-12">
      
        <div id="header" class="page-header">
          <h1>Excel to MODs Transformer Service</h1>
        </div>
  
        <div class="row">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <% if signed_in? %>
                  <li><a href="/">Home</a></li>
                  <li><a href="/user">Change user settings</a></li>
                  <li><a href="/logout">Logout</a></li>
                  <li><a href="/old/">Alternate Page</a></li>
                  <%= "<li><a href='/admin'>Admin</a></li>" if authorized? %>
                <% else %>
                  <li><a>Home</a></li>
                  <li><a>Change user settings</a></li>
                  <li><a>Logout</a></li>
                  <li><a>Test Page</a></li>
                <% end %>
              </ul>
            </div>
          </nav>
        </div>
        
        <div class="row">
          <h3>Welcome <%= user.username %>! <small>This service transforms excel files into XML MODs format.</small></h3>
        </div>
        
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Upload</h3>
            </div>
            <div id="submitPanel" class="panel-body">
              <form id="submitForm" ng-submit="submit()" method="POST" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group">
                  <div class="col-md-4">
                    <label for='xmlfile' type='text'>Upload an excel file</label>
                    <input ng-disabled="btnDisabled" type='file' name='xmlfile' class="btn btn-default btn-file">
                  </div>
                  <div class="col-md-4">
                    <label for='collection_id' type='text'>Name your submission</label>
                    <input type='text' name='collection_id' class="form-control">
                  </div>
                  <div class="col-md-4">
                    <label for='institution' type='text'>Owning Institution</label>
                    <input type='text' name='institution' value="<%= user.institution %>" class="form-control">
                  </div>
                </div>
                <div>
                  <button id="btnTransform" ng-disabled="btnDisabled" type='submit' value='transform' class="btn btn-default">transform</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div id="collections">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Downloads</h3>
              </div>
              
              <div class="panel-body">
                <table class="table table-hover">
                  <tr>
                    <th>Submission</th>
                    <th colspan="2">Package</th>
                  </tr>
                    <tr ng-repeat="package in packages" ng-model="packages.package">
                      <td>{{package}}</td>
                      <td><a href="/{{package}}">download</a></td>
                      <td><form ng-submit="removePackage(package)" method='post' >
                        <input type='submit' value='remove'></form></td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div id="errors">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Transformation Errors</h3>
              </div>
              
              <div class="panel-body">
                <table class="table table-hover" ng-repeat="(submission, array) in errors" ng-model="errors[submission]">
                  <tr>
                    <th>Submission</th>
                    <th colspan="2">Error</th>
                  </tr>
                  <tr ng-repeat="error in array" ng-model="errors[submission][error]">
                    <td>{{submission}}</td>
                    <td>{{error}}</td>
                    <td><form ng-submit="deleteError(submission,$index)" method='post' >
                        <input type='submit' value='delete'></form>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
          
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#modsTags" href="#modsTags">XML tags to MODs Mapping</a></h3>
            </div>
            <div id="modsTags" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Change textfields to match headers in xml file.  Use comma seperated lists
                if you need to match multiple headers to the same mods tag.</p>
                <form ng-submit="hash(tags)" enctype="multipart/form-data">
                  <table class="table table-hover">
                    <tr>
                      <th>Excel Column Header</th>
                      <th>MODS filename</th>
                    </tr>
                    <tr>
                      <td><input type='text' value="{{tags['filename']}}" ng-model="tags.filename" name='filename' class='form-control'></td>
                      <td>filename</td>
                    </tr>
                  </table>
                  <table class="table table-hover">
                    <tr>
                      <th>Definition</th>
                      <th>MODs Tag</th>
                    </tr>
                    <tr ng-repeat="(tag,definition) in tags" ng-if="tag != 'filename'">
                      <td><input type='text' value='{{definition}}' ng-model="tags[tag]" name='{{tag}}' class='form-control'></td>
                      <td ng-bind-html="notes[tag]"></td>
                    </tr>
                  </table>
                  <button type='submit' value='submit' class='btn btn-default'>submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div> 
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-target="#reset" href="#reset">Reset Mapping</a></h4>
              </div>
              <div id="reset" class="panel-collapse collapse">
                <div class="panel-body">
                  <form action="/reset" method="post">
                    <button type='submit' value='reset tags' class='btn btn-default'>reset tags</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div> 
    </div>
  </body>
</html>