<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Login to use the Transformer Service</h1>
    </div>
    
    <div id="loginPanel" class="panel-body">
      <form id="loginForm" action="/login" method="POST" enctype="multipart/form-data" class="form">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label for="name" type='text'>User ID</label>
              <input type='text' name='name' class="form-control"><br /><br />
            </div>
            <div class="col-md-4">
              <label for="password" type='text'>Password</label>
              <input type='password' name='password' class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <button type='submit' value='login' class="btn btn-default">login</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

