<div class="row">
  <h3>Welcome <%= user.username %>! <small>You can find template downloads on this Page</small></h3>
</div>
  
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Templates</h3>
    </div>
    <div id="submitPanel" class="panel-body">
      <table class="table table-hover">
            <tr>
              <th>Template Documentation</th>
              <th>Link</th>
            </tr>
            <tr>
              <td>9-26-2014</td>
              <td><a href="https://islandora.pubwiki.fcla.edu/wiki/images/Islandora/9/9d/MODS_template_documentation-092614.xlsx">Download Link</a></td>
            </tr>
        </table>
        
        <table class="table table-hover">
          <tr>
            <th>Template Name</th>
            <th>Download Link</th>
          </tr>
          <tr>
            <td>Metadata Template</td>
            <td><a href="/test/metadata_template.xlsx">metadata_template.xlsx</a></td>
          </tr>
          <tr>
            <td>Example template usage v.1</td>
            <td><a href="/test/template_test.xlsx">template_test.xlsx</a></td>
          </tr>
          <tr>
            <td>Example template usage v.3</td>
            <td><a href="/test/template_test3.xlsx">template_test3.xlsx</a></td>
          </tr>
        </table>
    </div>
  </div>
</div>