<!DOCTYPE html>
<html lang="en" ng-app="transformer">
  <head>
    <title>MODs Transformer Service</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold,italic,bolditalic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!-- <script src="/js/ajax.js"></script> -->
    <script src="/js/angular.js"></script>
    <script src="/js/angular-sanitize.js"></script>
    <script src="/js/app.js"></script>
  </head>
  
  <body ng-controller="MainController as main">
  
    <div class="container-fluid">
      <div class="col-md-12">
      
        <div id="header" class="page-header">
          <h1>MODs Transformer Service</h1>
        </div>
  
        <div class="row">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

              <ul class="nav navbar-nav">
                <% if signed_in? %>
                  <li><a href="/">Home</a></li>
                  <li><a href="/user">Change user settings</a></li>
                  <li><a href="/logout">Logout</a></li>
                  <li><a href="/test/">Test Page</a></li>
                  <%= "<li><a href='/admin'>Admin</a></li>" if authorized? %>
                <% else %>
                  <li><a>Home</a></li>
                  <li><a>Change user settings</a></li>
                  <li><a>Logout</a></li>
                  <li><a>Test Page</a></li>
                <% end %>
              </ul>

            </div>
          </nav>
        </div>
        
        <div class="row">
          <h3>AngularJS test page.</h3>
        </div>
          
        <div class="row">
          <div class="panel panel-default">
            
            <div class="panel-heading">
              <h3 class="panel-title">XML tags to MODs Mapping</h3>
            </div>
            
            <div class="panel-body">
              <p>Change textfields to match headers in xml file.  Use comma seperated lists
              if you need to match multiple headers to the same mods tag.</p>
              <form ng-submit="submit()" enctype="multipart/form-data">
                <table class="table table-hover">
                <tr>
                  <th>Excel Column Header</th>
                  <th>MODS filename</th>
                </tr>
                <tr>
                  <td><input type='text' value="{{tags['filename']}}" name='filename' class='form-control'></td>
                  <td>filename</td>
                </tr>
              </table>
                <table class="table table-hover">
                  <tr>
                    <th>Definition</th>
                    <th>MODs Tag</th>
                  </tr>
                  <tr ng-repeat="(tag,definition) in tags" ng-if="tag != 'filename'">
                    <td><input type='text' value='{{definition}}' name='{{tag}}'></td>
                    <td ng-bind-html="notes[tag]"></td>
                  </tr>
                </table>
                  <button type='submit' value='submit' class='btn btn-default'>submit</button>
              </form>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </body>
</html>