<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Settings Page</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">User Information</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>User Name</th>
          <th>Email Address</th>
          <th>Institution</th>
        </tr>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.institution %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <form action="/changePassword" method="POST" enctype="multipart/form-data">
    <div class="panel panel-default">
    
      <div class="panel-heading">
        <h3 class="panel-title">Update Password</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <label for='password' type='text'>Current Password</label>
            <input type='password' name='password' class="form-control">
          </div>
          <div class="col-md-4">
            <label for='newPassword' type='text'>New Password</label>
            <input type='password' name='newPassword' class="form-control">
          </div>
          <div class="col-md-4">
            <label for='confirm' type='text'>Confirm Password</label>
            <input type='password' name='confirm' class="form-control">
          </div>
        </div>
        <div class="row">
        <br>
          <div class="col-md-4">
            <button type='submit' value='update' class="btn btn-default">update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="row">
  <form action="/changeSettings" method="POST" enctype="multipart/form-data">
    <div class="panel panel-default">
    
      <div class="panel-heading">
        <h3 class="panel-title">User Settings</h3>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <h4>Settings</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for='institution' type='text'>Institution</label>
            <input type='text' name='institution' class="form-control">
          </div>
          <div class="col-md-4">
            <label for='email' type='text'>Email</label>
            <input type='email' name='email' class="form-control">
          </div>
        </div>
        <div class="row">
        <br>
          <div class="col-md-4">
            <button type='submit' value='update' class="btn btn-default">update</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


