<div id="header">
  <h1>MODs Transformer Service</h1>
</div>
<p>Hello <%= @user %>.</p>
  
<div>
  <h3>User Page</h3>
  <p>Change Password</p>
  <form action="/changePassword" method="POST" enctype="multipart/form-data">
    <label type='text'>Current Password</label>
    <input type='password' name='password'><br /><br />
    <label type='text'>New Password</label>
    <input type='password' name='newPassword'><br /><br />
    <label type='text'>Confirm Password</label>
    <input type='password' name='confirm'>
    <input type='submit' value='update'>
  </form>
</div>
